<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-2 " align="center">
      </div>
      <div class="col-md-8 col-lg-8 " align="center">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2 col-xs-2 table_title">
                <p class="help-block"></p>
                <label class="control-label">Group Name</label>
                <p class="help-block"></p>
              </div>
              <div class="col-md-10 col-xs-10">
                <div class="controls">
                  <p class="help-block"></p>
                  <%= f.text_field :name, class:"form-control" %>
                  <p class="help-block"></p>
                </div>
              </div>
            </div>
            <div class="row buttons">
              <%= f.submit "Submit", class: "btn btn-primary"%>
              <%= link_to 'Back', groups_path ,class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
