<p id="notice"><%= notice %></p>


<div class="container pages">
	<div class="row">
		<section class="content">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">



					<div class="panel-body">
						<div class="pull-left">
							<h3>Join Group to get more photos or Upload new Photos.<i class="fa fa-smile-o" aria-hidden="true"></i></h3>
						</div>
					</div>




					<div class="panel-body">
						<div class="pull-left">
							<div class="btn-group">
								<h3 class="panel-title">Group List</h3>
							</div>
						</div>
						<div class="pull-right">
							<div class="btn-group">
                <%= link_to 'New Group', new_group_path, class: "btn btn-success btn-filter" %>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="table-container">
							<div class="row">
								<table class="table">
									<tbody>
                    <% @groups.each do |group| %>
                    <tr>
                      <% if @current_user && @current_user.id == group.creator_id || @current_user.role == 1%>
                      <td><%= link_to "#{group.name}", photos_group_path(group)%></td>
                      <td><%= group.creator_id %></td>
                      <td><%= link_to 'Edit', edit_group_path(group) %></td>
                      <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      <td><%= link_to 'Show', group %></td>
                      <% elsif @current_user && @current_user.groups.include?(group)%>
                      <td><%= link_to "#{group.name}", photos_group_path(group)%></td>
                      <td><%= group.creator_id %></td>
                      <td></td>
                      <td></td>
                      <td><%= link_to 'Show', group %></td>
                      <% elsif @current_user %>
                      <td><%= group.name %></td>
                      <td><%= group.creator_id %></td>
                      <td></td>
                      <td><%= link_to 'Join', join_group_path(id: group.id), method: :patch%></td>
                      <td><%= link_to 'Show', group %></td>
                      <% end %>
										</tr>
										<% end %>
									</tbody>
								</table>
							</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
