

<style media="screen">

#transfer {
  float: left;
  width:100vw;
  height: 20vh;
  min-height: 8em;
  padding: 1em;
  bottom: -10vh;
  background: rgba(255,255,255,0.7);
  position: fixed;
}
.transfer li {
  float: left;
  width: 100px;
  padding: 0.4em;
  margin: 0 0.4em 0.4em 0;
  text-align: center;
}
.transfer li h5 { margin: 0 0 0.4em; cursor: move; }
.transfer li a { float: right; }
.transfer li a.ui-icon-zoomin { float: left; }
.transfer li img { width: 100%; height: 100%; cursor: move; }

#pictureWall {
  margin: 0;
  float: right;
  width: 100%;
  height: 80vh;
  min-height: 20em;
}
#pictureWall h4 .ui-icon { float: left; }
#pictureWall .transfer h5 { display: none; }

</style>


</head>
<body>
  <div class="savechange">
    <p class="help-block"></p>
    <div class="col-md-3"></div>
    <div class="col-md-6 well well-sm">
      <span><%= @user.name %> 's e-PicWall</span>
      <% if @current_user = @user %>
      <input type="button" class="btn btn-success pull-right" name="name" value="SAVE" id="saveAll">
      <% end %>
    </div>
    <div class="col-md-3"></div>

  </div>
  <div id="pictureWall" >
    <ul id="pics">
      <% @ewalls.each do|ewall|%>
        <img src="<%= ewall.ewall_photo.image.url%>" class="photo<%=ewall.id %>" id ="<%=ewall.photo_id%>" style= "position: absolute; width: <%= ewall.width.to_i%>px; height: <%= ewall.height.to_i%>px; top: <%= ewall.position_y.to_i%>px; left: <%= ewall.position_x.to_i %>px;">
      <% end %>
    </ul>
  </div>

<div class="ui-widget ui-helper-clearfix">

<ul id="transfer" class="transfer ui-helper-reset ui-helper-clearfix">
  <% @stacks.each do |stack|%>
  <li class="ui-widget-content ui-corner-tr" id="<%= stack.id%>">
    <%= image_tag(stack.temp_photo.image, class: "img-responsive")%>
    <%= link_to 'Delete image', 'link/to/move', class:"ui-icon ui-icon-circle-arrow-n"%>
  </li>
  <% end %>
</ul>

</div>

<script>
$(document).ready(function(){
  function getPosition(el) {
  var xPos = 0;
  var yPos = 0;

  while (el) {
    if (el.tagName == "BODY") {
      // deal with browser quirks with body/window/document and page scroll
      var xScroll = el.scrollLeft || document.documentElement.scrollLeft;
      var yScroll = el.scrollTop || document.documentElement.scrollTop;
      xPos += (el.offsetLeft - xScroll + el.clientLeft);
      yPos += (el.offsetTop - yScroll + el.clientTop);
    } else {
      // for all other non-BODY elements
      xPos += (el.offsetLeft - el.scrollLeft + el.clientLeft);
      yPos += (el.offsetTop - el.scrollTop + el.clientTop);
    }
    el = el.offsetParent;
  }
  return {
    x: xPos,
    y: yPos
    };
  }

  // deal with the page getting resized or scrolled
  window.addEventListener("scroll", updatePosition, false);
  window.addEventListener("resize", updatePosition, false);

  function updatePosition() {
    // add your code to update the position when your browser
    // is resized or scrolled
  }

  $("#saveAll").click(function () {
    var myElements = document.querySelectorAll("#pictureWall img");
    for (var i = 0; i < myElements.length; i++) {
      debugger
      var position = getPosition(myElements[i]);
      var ewallphotoid = myElements[i].id;
      var ewallid = myElements[i].className;
      var ewallwidth = myElements[i].width;
      var ewallheight = myElements[i].height;
      var regx = /\d+/;
      var ewall_id = ewallid.match(regx);

      var ewallData = {
        ewall:{
          position_x: position.x,
          position_y: position.y,
          width: ewallwidth,
          height: ewallheight
        }
      };
      $.ajax({
        url: "/ewalls/"+parseInt(ewall_id[0]),
        type: "PATCH",
        data: ewallData
      });
    }
  });


 $("#transfer").mouseover(function(){
   $(this).css({
     "bottom": "0",
     "-webkit-transition": "bottom 1s"
   });
 });
 $("#transfer").mouseout(function () {
   window.setTimeout(function () {
     $("#transfer").css({
       "bottom": "-10vh"
     });
   }, 10000);
 });
});


$(function() {
  // there's the transfer and the pictureWall
  var $transfer = $( "#transfer" ),
    $pictureWall = $( "#pictureWall" );

  // let the transfer items be draggable
  $( "li", $transfer ).draggable({
    cancel: "a.ui-icon", // clicking an icon won't initiate dragging
    revert: "invalid", // when not dropped, the item will revert back to its initial position
    containment: "document",
    helper: "clone",
    cursor: "move"
  });


  $("img",$pictureWall).resizable({
    autoHide:true,
    aspectRatio: true
  });
  $("div",$pictureWall).draggable({
    stack: 'div'
  });
  // let the pictureWall be droppable, accepting the transfer items
  $( "li", $transfer ).resizable({
    autoHide:true
  });
  $pictureWall.droppable({
    accept: "#transfer > li",
    activeClass: "ui-state-highlight",
    drop: function( event, ui ) {
      var $item =ui.draggable;
      $item.remove();
      // deleteImage( ui.draggable );
      stack_id = ui.draggable.attr('id');
      $.ajax({
        url: "/stacks/"+stack_id,
        type: "DELETE"
      }).done(function (data) {
        var photoid = data.photo_id;
        var userid = data.user_id;
        var ewall = {
          ewall:{
            photo_id: photoid,
            user_id: userid
          }
        };
        $.ajax({
          url: "/ewalls.json",
          type: "POST",
          data: ewall
        }).done(function (data) {
          var $li = $("<li></li>");
          var $pic = $("#pics");
          var $img = $("<img>");

          $img.attr({
            "src": data.ewall_photo.image.url,
            "width": "50",
            "class": "photo"+data.id,
            "id": photoid,
          }).appendTo ($li).appendTo ($pic);
          $("img",$pictureWall).resizable({
            autoHide:true,
            aspectRatio: true
          });
          $("div",$pictureWall).draggable({
            stack: 'div'
          });

          console.log("bing..");
        });
      });
    }
  });

  // let the transfer be droppable as well, accepting items from the pictureWall
  $transfer.droppable({
    accept: "#pictureWall li",
    activeClass: "custom-state-active",
    drop: function( event, ui ) {
      // console.log(event);
      // console.log(ui);
      recycleImage( ui.draggable );
    }

  });


  function deleteImage($item) {
    $item.remove();
  }

  // image recycle function
  var pictureWall_icon = "<a href='link/to/move' title='Delete this image' class='ui-icon ui-icon-circle-arrow-n'>Delete image</a>";
  function recycleImage( $item ) {
    $item.fadeOut(function() {
      $item
        .find( "a.ui-icon-refresh" )
          .remove()
        .end()
        .css( "width", "96px")
        .append( pictureWall_icon )
        .find( "img" )
          .css( "height", "72px" )
        .end()
        .appendTo( $transfer )
        .fadeIn();
    });
  }

  // image preview function, demonstrating the ui.dialog used as a modal window
  function viewLargerImage( $link ) {
    var src = $link.attr( "href" ),
      title = $link.siblings( "img" ).attr( "alt" ),
      $modal = $( "img[src$='" + src + "']" );

    if ( $modal.length ) {
      $modal.dialog( "open" );
    } else {
      var img = $( "<img alt='" + title + "' width='384' height='288' style='display: none; padding: 8px;' />" )
        .attr( "src", src ).appendTo( "body" );
      setTimeout(function() {
        img.dialog({
          title: title,
          width: 400,
          modal: true
        });
      }, 1 );
    }
  }

  // resolve the icons behavior with event delegation
  $( "ul.transfer > li" ).click(function( event ) {
    var $item = $( this ),
      $target = $( event.target );

    if ( $target.is( "a.ui-icon-circle-arrow-n" ) ) {
      deleteImage( $item );
    } else if ( $target.is( "a.ui-icon-zoomin" ) ) {
      viewLargerImage( $target );
    } else if ( $target.is( "a.ui-icon-refresh" ) ) {
      recycleImage( $item );
    }

    return false;
  });
});
</script>

</body>
</html>
