  <div class="wrapper">
    <ul id="sb-slider" class="sb-slider">
      <li>
        <a href="#" target="_blank">
          <%= image_tag("1.jpg") %>
        </a>
        <div class="sb-description">
          <h3>WDI 14</h3>
        </div>
      </li>
      <li>
        <a href="#" target="_blank"><%= image_tag("2.jpg") %></a>
        <div class="sb-description">
          <h3>The best WDI</h3>
        </div>
      </li>
      <li>
        <a href="#" target="_blank"><%= image_tag("3.jpg") %></a>
        <div class="sb-description">
          <h3>Ever forever</h3>
        </div>
      </li>
      <li>
        <a href="#" target="_blank"><%= image_tag("4.jpg") %></a>
        <div class="sb-description">
          <h3>Love Jack</h3>
        </div>
      </li>
      <li>
        <a href="#" target="_blank"><%= image_tag("5.jpg") %></a>
        <div class="sb-description">
          <h3>Classroom[0]</h3>
        </div>
      </li>
      <li>
        <a href="#" target="_blank"><%= image_tag("6.jpg") %></a>
        <div class="sb-description">
          <h3>Never forget</h3>
        </div>
      </li>

    </ul>
    <div id="nav-arrows" class="nav-arrows">
      <a href="#">Next</a>
      <a href="#">Previous</a>
    </div>
    <div id="nav-dots" class="nav-dots">
      <span class="nav-dot-current"></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
  <div class="contents">
    <div class="row ">
      <div class="col-md-3 ">
        <div class="new_group">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-danger">
              Latest 5 Groups
            </a>
            <% @groups.each do |group|%>
            <a href="#" class="list-group-item "><%= group.name%></a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="new_comment">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-danger">
              New Photos
            </a>
            <div class="immg">
              <% @photos.each do |photo|%>
              <%= image_tag photo.image, class: "img-thumbnail" %>
              <% end %>
            </div>


          </div>
        </div>

      </div>
      <div class="col-md-3 ">
        <div class="new_member">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-danger">
              New members
            </a>
            <% @users.each do |user|%>
            <a href="#" class="list-group-item "><%= user.name%></a>
            <% end %>
          </div>

        </div>

      </div>
    </div>

  </div>

<script type="text/javascript">
  $(function() {
    var Page = (function() {
      var $navArrows = $( '#nav-arrows' ).hide(),
        $navDots = $( '#nav-dots' ).hide(),
        $nav = $navDots.children( 'span' ),
        $shadow = $( '#shadow' ).hide(),
        slicebox = $( '#sb-slider' ).slicebox( {
          orientation : "r",
          perspective : 10000,
          autoplay: true,

          onReady : function() {
            $navArrows.show();
            $navDots.show();
            $shadow.show();
          },
          onBeforeChange : function( pos ) {
            $nav.removeClass( 'nav-dot-current' );
            $nav.eq( pos ).addClass( 'nav-dot-current' );
          }
        } ),
        init = function() {
          initEvents();
        },
        initEvents = function() {
          // add navigation events
          $navArrows.children( ':first' ).on( 'click', function() {
            slicebox.next();
            return false;
          } );
          $navArrows.children( ':last' ).on( 'click', function() {
            slicebox.previous();
            return false;
          } );

          $nav.each( function( i ) {
            $( this ).on( 'click', function( event ) {
              var $dot = $( this );
              if( !slicebox.isActive() ) {
                $nav.removeClass( 'nav-dot-current' );
                $dot.addClass( 'nav-dot-current' );
              }
              slicebox.jump( i + 1 );
              return false;
            } );
          } );
        };
        return { init : init };
    })();
    Page.init();

  });
</script>

</body>
</html>
