<%= form_for(@photo, multipart: true) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-2 " align="center">
      </div>
      <div class="col-md-8 col-lg-8 " align="center">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row">
              <div class="col-md-3 col-xs-3 table_title">
                <p class="help-block"></p>
                <label class="control-label">Upload Image</label>
                <p class="help-block"></p>
              </div>
              <div class="col-md-9 col-xs-9 photo_form">
                <div class="controls">
                  <p class="help-block"></p>
                  <%= file_field_tag 'images[]', multiple: true %>
                  <p class="help-block"></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-xs-3 table_title">
                <p class="help-block"></p>
                <label class="control-label">Selete Group</label>
                <p class="help-block"></p>
              </div>
              <div class="col-md-9 col-xs-9 photo_form">
                <div class="controls">
                  <p class="help-block"></p>
                  <%= select_tag "group_id", options_for_select(Group.pluck(:name, :id)) %>
                  <p class="help-block"></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-xs-3 table_title">
                <p class="help-block"></p>
                <label class="control-label">Photo Description</label>
                <p class="help-block"></p>
              </div>
              <div class="col-md-9 col-xs-9 photo_form">
                <div class="controls">
                  <p class="help-block"></p>
                  <%= f.text_area :description, size: "50x10" %>
                  <p class="help-block"></p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 col-xs-3 table_title">
              </div>
              <div class="col-md-9 col-xs-9 photo_form">
                <div class="controls">
                  <p class="help-block"></p>
                  <% @photo.image.each do |img|%>
                  <div id="image_display">
                    <%= image_tag(img.url)%>
                  </div>
                  <% end %>
                  <p class="help-block"></p>
                </div>
              </div>
            </div>

            <div class="row">
              <%= f.submit "Submit", class: "btn btn-primary"%>
              <%= link_to 'Back', photos_path,class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-2 " align="center">
      </div>
    </div>
  </div>


<% end %>
